<div id="checklistSubmit" style="visibility:hidden;display:none">
<%= submit_tag l(:button_submit) %>
</div>

<script type="text/javascript">
var finaldesc = String(<%= @issue.description.to_json.html_safe%>);
var url = String("/issues/") + String(<%= @issue.id.to_json.html_safe%>);

function toggle(thetag){

  $("#checklistSubmit").css('visibility', 'visible');
  $("#checklistSubmit").css('display', 'block');

  var checkboxtext = String(thetag.getAttribute('data'));
  var whenchecked = new RegExp("x]" + checkboxtext);
  var whenunchecked = new RegExp(" ]"+checkboxtext);
  console.log(whenunchecked);

  var changetounchecked = String(" ]"+checkboxtext);
  var changetochecked = String("x]"+checkboxtext);
  console.log(!thetag.checked);

  if (thetag.checked){
    finaldesc = finaldesc.replace(whenunchecked,changetochecked);
    console.log(finaldesc);
  }
  else {
    finaldesc = finaldesc.replace(whenchecked,changetounchecked);
    console.log(finaldesc);
  }
}

$(document).ready(function() {
  $('#checklistSubmit').click(function(event){
    console.log(finaldesc);

    $.ajax(url,{
      type: "PUT",
      data: {issue: {description: finaldesc}},
      dataType: 'json'
    });
    $("#checklistSubmit").css('visibility', 'hidden');
    $("#checklistSubmit").css('display', 'none');
    // wait a second before reloading page - otherwise, page reloads
    // before description has been updated on server side
    setTimeout(function(){ location.reload(true); }, 1000);
  });
});

</script>
